In [20]:
import numpy as np 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [21]:
my_data = pd.read_csv("cars.csv", delimiter=",")
my_data[0:5]

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
1,Chevrolet Chevelle Malibu,18,8,307,130,3504,12,70,US
2,Buick Skylark 320,15,8,350,165,3693,11.5,70,US
3,Plymouth Satellite,18,8,318,150,3436,11,70,US
4,AMC Rebel SST,16,8,304,150,3433,12,70,US

In [22]:
my_data['Origin'].value_counts()

US        254
Japan      79
Europe     73
CAT         1
Name: Origin, dtype: int64

In [23]:
data = my_data.drop(index=0)
data.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
1,Chevrolet Chevelle Malibu,18,8,307,130,3504,12,70,US
2,Buick Skylark 320,15,8,350,165,3693,11.5,70,US
3,Plymouth Satellite,18,8,318,150,3436,11,70,US
4,AMC Rebel SST,16,8,304,150,3433,12,70,US
5,Ford Torino,17,8,302,140,3449,10.5,70,US

In [24]:
data.columns

Index(['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
       'Acceleration', 'Model', 'Origin'],
      dtype='object')

In [25]:
car = data['Car'].unique()
car

array(['Chevrolet Chevelle Malibu', 'Buick Skylark 320',
       'Plymouth Satellite', 'AMC Rebel SST', 'Ford Torino',
       'Ford Galaxie 500', 'Chevrolet Impala', 'Plymouth Fury iii',
       'Pontiac Catalina', 'AMC Ambassador DPL', 'Citroen DS-21 Pallas',
       'Chevrolet Chevelle Concours (sw)', 'Ford Torino (sw)',
       'Plymouth Satellite (sw)', 'AMC Rebel SST (sw)',
       'Dodge Challenger SE', "Plymouth 'Cuda 340",
       'Ford Mustang Boss 302', 'Chevrolet Monte Carlo',
       'Buick Estate Wagon (sw)', 'Toyota Corolla Mark ii',
       'Plymouth Duster', 'AMC Hornet', 'Ford Maverick', 'Datsun PL510',
       'Volkswagen 1131 Deluxe Sedan', 'Peugeot 504', 'Audi 100 LS',
       'Saab 99e', 'BMW 2002', 'AMC Gremlin', 'Ford F250', 'Chevy C20',
       'Dodge D200', 'Hi 1200D', 'Chevrolet Vega 2300', 'Toyota Corolla',
       'Ford Pinto', 'Volkswagen Super Beetle 117',
       'Plymouth Satellite Custom', 'Ford Torino 500', 'AMC Matador',
       'Pontiac Catalina Brougham', 'Dodge Monaco (sw)',
       'Ford Country Squire (sw)', 'Pontiac Safari (sw)',
       'AMC Hornet Sportabout (sw)', 'Chevrolet Vega (sw)',
       'Pontiac Firebird', 'Ford Mustang', 'Mercury Capri 2000',
       'Opel 1900', 'Peugeot 304', 'Fiat 124B', 'Toyota Corolla 1200',
       'Datsun 1200', 'Volkswagen Model 111', 'Plymouth Cricket',
       'Toyota Corolla Hardtop', 'Dodge Colt Hardtop', 'Volkswagen Type 3',
       'Chevrolet Vega', 'Ford Pinto Runabout', 'Plymouth Fury III',
       'AMC Ambassador SST', 'Mercury Marquis', 'Buick LeSabre Custom',
       'Oldsmobile Delta 88 Royale', 'Chrysler Newport Royal',
       'Mazda RX2 Coupe', 'AMC Matador (sw)', 'Ford Gran Torino (sw)',
       'Plymouth Satellite Custom (sw)', 'Volvo 145e (sw)',
       'Volkswagen 411 (sw)', 'Peugeot 504 (sw)', 'Renault 12 (sw)',
       'Ford Pinto (sw)', 'Datsun 510 (sw)', 'Toyota Corolla Mark II (sw)',
       'Dodge Colt (sw)', 'Toyota Corolla 1600 (sw)', 'Buick Century 350',
       'Chevrolet Malibu', 'Ford Gran Torino', 'Dodge Coronet Custom',
       'Mercury Marquis Brougham', 'Chevrolet Caprice Classic', 'Ford LTD',
       'Plymouth Fury Gran Sedan', 'Chrysler New Yorker Brougham',
       'Buick Electra 225 Custom', 'AMC Ambassador Brougham',
       'Plymouth Valiant', 'Chevrolet Nova Custom',
       'Volkswagen Super Beetle', 'Ford Country', 'Plymouth Custom Suburb',
       'Oldsmobile Vista Cruiser', 'Toyota Camry', 'Datsun 610',
       'Mazda RX3', 'Mercury Capri v6', 'Fiat 124 Sport Coupe',
       'Chevrolet Monte Carlo S', 'Pontiac Grand Prix', 'Fiat 128',
       'Opel Manta', 'Audi 100LS', 'Volvo 144ea', 'Dodge Dart Custom',
       'Saab 99le', 'Toyota Mark II', 'Oldsmobile Omega', 'Chevrolet Nova',
       'Datsun B210', 'Chevrolet Chevelle Malibu Classic',
       'Plymouth Satellite Sebring', 'Buick Century Luxus (sw)',
       'Dodge Coronet Custom (sw)', 'Audi Fox', 'Volkswagen Dasher',
       'Datsun 710', 'Dodge Colt', 'Fiat 124 TC', 'Honda Civic', 'Subaru',
       'Fiat x1.9', 'Plymouth Valiant Custom', 'Mercury Monarch',
       'Chevrolet Bel Air', 'Plymouth Grand Fury', 'Buick Century',
       'Chevrolete Chevelle Malibu', 'Plymouth Fury', 'Buick Skyhawk',
       'Chevrolet Monza 2+2', 'Ford Mustang II', 'Pontiac Astro',
       'Volkswagen Rabbit', 'AMC Pacer', 'Volvo 244DL', 'Saab 99LE',
       'Honda Civic CVCC', 'Fiat 131', 'Capri ii', 'Renault 12tl',
       'Dodge Coronet Brougham', 'Chevrolet Chevette', 'Chevrolet Woody',
       'Dodge Aspen SE', 'Ford Grenada ghia', 'Pontiac Ventura SJ',
       'AMC Pacer d/l', 'Datsun B-210', 'Volvo 245',
       'Plymouth Volare Premier v8', 'Mercedes-Benz 280s',
       'Cadillac Seville', 'Chevrolet C10', 'Ford F108', 'Dodge D100',
       'Honda Accord CVCC', 'Buick Opel Isuzu Deluxe', 'Renault 5 GTL',
       'Plymouth Arrow GS', 'Datsun F-10 Hatchback',
       'Oldsmobile Cutlass Supreme', 'Dodge Monaco Brougham',
       'Mercury Cougar Brougham', 'Chevrolet Concours', 'Buick Skylark',
       'Plymouth Volare Custom', 'Ford Grenada', 'Pontiac Grand Prix LJ',
       'Chevrolet Monte Carlo Landau', 'Chrysler Cordoba',
       'Ford Thunderbird', 'Volkswagen Rabbit Custom',
       'Pontiac Sunbird Coupe', 'Toyota Corolla Liftback',
       'Ford Mustang II 2+2', 'Dodge Colt m/m', 'Subaru DL', 'Datsun 810',
       'BMW 320i', 'Mazda RX-4', 'Volkswagen Rabbit Custom Diesel',
       'Ford Fiesta', 'Mazda GLC Deluxe', 'Datsun B210 GX',
       'Oldsmobile Cutlass Salon Brougham', 'Dodge Diplomat',
       'Mercury Monarch ghia', 'Pontiac Phoenix LJ',
       'Ford Fairmont (auto)', 'Ford Fairmont (man)', 'Plymouth Volare',
       'AMC Concord', 'Buick Century Special', 'Mercury Zephyr',
       'Dodge Aspen', 'AMC Concord d/l', 'Buick Regal Sport Coupe (turbo)',
       'Ford Futura', 'Dodge Magnum XE', 'Datsun 510', 'Dodge Omni',
       'Toyota Celica GT Liftback', 'Plymouth Sapporo',
       'Oldsmobile Starfire SX', 'Datsun 200-SX', 'Audi 5000',
       'Volvo 264gl', 'Saab 99gle', 'Peugeot 604sl', 'Volkswagen Scirocco',
       'Honda Accord LX', 'Pontiac Lemans V6', 'Mercury Zephyr 6',
       'Ford Fairmont 4', 'AMC Concord DL 6', 'Dodge Aspen 6',
       'Ford LTD Landau', 'Mercury Grand Marquis', 'Dodge St. Regis',
       'Chevrolet Malibu Classic (sw)',
       'Chrysler Lebaron Town @ Country (sw)',
       'Dodge Colt Hatchback Custom', 'AMC Spirit DL',
       'Mercedes Benz 300d', 'Cadillac Eldorado', 'Plymouth Horizon',
       'Plymouth Horizon TC3', 'Datsun 210', 'Fiat Strada Custom',
       'Buick Skylark Limited', 'Chevrolet Citation',
       'Oldsmobile Omega Brougham', 'Pontiac Phoenix',
       'Toyota Corolla Tercel', 'Datsun 310', 'Ford Fairmont', 'Audi 4000',
       'Mazda 626', 'Datsun 510 Hatchback', 'Mazda GLC',
       'Volkswagen Rabbit C (Diesel)', 'Volkswagen Dasher (diesel)',
       'Audi 5000s (diesel)', 'Mercedes-Benz 240d', 'Honda Civic 1500 gl',
       'Renault Lecar Deluxe', 'Datsun 280-ZX', 'Mazda RX-7 GS',
       'Triumph TR7 Coupe', 'Ford Mustang Cobra', 'Honda Accord',
       'Plymouth Reliant', 'Dodge Aries Wagon (sw)', 'Toyota Starlet',
       'Plymouth Champ', 'Honda Civic 1300', 'Datsun 210 MPG',
       'Toyota Tercel', 'Mazda GLC 4', 'Plymouth Horizon 4',
       'Ford Escort 4W', 'Ford Escort 2H', 'Volkswagen Jetta',
       'Renault 18i', 'Honda Prelude', 'Datsun 200SX',
       'Peugeot 505s Turbo Diesel', 'Saab 900s', 'Volvo Diesel',
       'Toyota Cressida', 'Datsun 810 Maxima', 'Oldsmobile Cutlass LS',
       'Ford Grenada gl', 'Chrysler Lebaron Salon', 'Chevrolet Cavalier',
       'Chevrolet Cavalier Wagon', 'Chevrolet Cavalier 2-door',
       'Pontiac J2000 SE Hatchback', 'Dodge Aries SE',
       'Ford Fairmont Futura', 'AMC Concord DL', 'Volkswagen Rabbit l',
       'Mazda GLC Custom l', 'Mazda GLC Custom', 'Plymouth Horizon Miser',
       'Mercury Lynx l', 'Nissan Stanza XE', 'Honda Civic (auto)',
       'Datsun 310 GX', 'Buick Century Limited',
       'Oldsmobile Cutlass Ciera (diesel)', 'Chrysler Lebaron Medallion',
       'Ford Grenada l', 'Toyota Celica GT', 'Dodge Charger 2.2',
       'Chevrolet Camaro', 'Ford Mustang GL', 'Volkswagen Pickup',
       'Dodge Rampage', 'Ford Ranger', 'Chevy S-10'], dtype=object)

In [26]:
X = data[['MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight','Acceleration', 'Model',]].values
X[0:5]

array([['18', '8', '307', '130', '3504', '12', '70'],
       ['15', '8', '350', '165', '3693', '11.5', '70'],
       ['18', '8', '318', '150', '3436', '11', '70'],
       ['16', '8', '304', '150', '3433', '12', '70'],
       ['17', '8', '302', '140', '3449', '10.5', '70']], dtype=object)

In [27]:
y = data["Origin"]
y[0:5]

1    US
2    US
3    US
4    US
5    US
Name: Origin, dtype: object

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_trainset, X_testset, y_trainset, y_testset = train_test_split(X, y, test_size=0.3, random_state=3)

In [30]:
print('train', X_trainset.shape, y_trainset.shape)

train (284, 7) (284,)

In [31]:
print('Test', X_testset.shape ,y_testset.shape)

Test (122, 7) (122,)

In [32]:
drugTree = DecisionTreeClassifier(criterion="entropy", max_depth = 4)
drugTree

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [33]:
drugTree.fit(X_trainset,y_trainset)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [34]:
predTree = drugTree.predict(X_testset)

In [35]:
predTree = drugTree.predict(X_testset)

In [36]:
print (predTree [0:5])

['US' 'US' 'US' 'Japan' 'Japan']

In [37]:
print (y_testset [0:5])

16         US
74         US
300        US
241    Europe
302     Japan
Name: Origin, dtype: object

In [38]:
from sklearn import metrics
import matplotlib.pyplot as plt
print("DecisionTrees's Accuracy: ", metrics.accuracy_score(y_testset, predTree))

DecisionTrees's Accuracy:  0.737704918033